<!--
<div class="banner">
    <div class="banner-text">
        <h1>Tena Transportation</h1>
        <h3>Trucking Logistics Company</h3>
        <h5>Casa Grande, Arizona</h5>
    </div>
</div>
<div class="box" fxlayout="column" fxLayoutAlign="center center">
    <div class="banner-text">
    <h1>Website Coming Soon...</h1>
    </div>
  </div>
-->



<div fxLayout="column">
    <div class="container_head" fxlayout="row" fxFlex="100">
      <div fxFlex="1 1 100%" style="background-color: lightblue; max-height: 50%;">
            <mat-grid-tile>
                <span>hey
                </span>
            </mat-grid-tile>
        </div>
    </div>

    <!--Carousel Section Code Liner 67:103-->
    <div class="container_two" fxlayout="row" fxFlex="100">
        <div fxFlex="1 1 100%" style="background-color: lightgreen; max-height: 50%;">

        </div>
        
    </div>

    <!--White Block beneath Carousel  104:144-->
    <div class="container_head" fxlayout="row" fxFlex="100">
         <div fxFlex="1 1 100%" style="background-color: lightblue ; max-height: 50%;">
            <mat-card>
                <mat-card-title>Card Demo-Tena Transport</mat-card-title>
            </mat-card>
        </div>
    </div>

    <!--Carousel Section Code Liner 145:170-->
    <div class="container_two" fxlayout="row" fxFlex="100">
         <div fxFlex="1 1 100%" style="background-color: lightyellow; max-height: 50%;">

        </div>
    </div>

    <!--Carousel Section Code Liner 171:195-->
    <div class="container_head" fxlayout="row" fxFlex="100">
         <div fxFlex="1 1 100%" style="background-color: lightgray; max-height: 50%;">

        </div>
    </div>

    <!--Carousel Section Code Liner 196:222-->
    <div class="container_two" fxlayout="row" fxFlex="100">
        <div fxFlex="100" fxLayout="column">
            <div class="imageDiv bottomDiv" fxFlex="1 1 50%" style="background-color: orange; max-height: 50%;">
                
            </div>
            <div class="ImageDiv bottomDiv" fxFlex="1 1 50%" style="background-color: black; max-height: 50%;">

                 <div fxFlexOffset="350px" class="imageDiv" fxFlex="50%" style="background-color: white; max-height: 20%;">
                 </div>
            </div>
            <div>
                <mat-card>
                    <h1>hEY</h1>
                </mat-card>
            
        
            </div>

        </div>
        

    </div>

    <!--Carousel Section Code Liner 223:251-->
    <div class="container_head" fxlayout="row" fxFlex="100">
        <div fxFlex="1 1 100%" style="background-color: lightgray; max-height: 50%;">
            
        </div>
    </div>

    <!--Carousel Section Code Liner 252:302-->
    <div class="container_two" fxlayout="row" fxFlex="100">
        <div fxFlex="1 1 100%" style="background-color: lightblue; max-height: 50%;">

        </div>
    </div>

    <!--Carousel Section Code Liner 303:354-->
    <div class="container_head" fxlayout="row" fxFlex="100">
        <div fxFlex="1 1 100%" style="background-color: lightgreen; max-height: 50%;">

        </div>
    </div>

</div>


