<!--
<div class="banner">
    <div class="banner-text">
        <h1>Tena Transportation</h1>
        <h3>Trucking Logistics Company</h3>
        <h5>Casa Grande, Arizona</h5>
    </div>
</div>
<div class="box" fxlayout="column" fxLayoutAlign="center center">
    <div class="banner-text">
    <h1>Website Coming Soon...</h1>
    </div>
  </div>
-->


<div fxLayout="column">
    <mat-toolbar class="toolbar" fxLayout="row" fxFlex="grow shrink 100%" style="background-color:rgba(255, 255, 255, 0)">
        <div class="logo" fxFlex="10">
            <img src="assets/tenatrans.png" height="35px">
        </div>
        <div class="material_icon" fxFlex="grow-shrink 100%" fxLayoutAlign="end end">
        <img src="assets/hamburger.png" height="25px">
        </div>  
    </mat-toolbar>

    <!--Carousel Section Code Liner 67:103-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active">

            </li>
            <li data-target="#myCarousel" data-slide-to="1">

            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image:url(assets/blue.png);">
                </div>
                <div class="container">
                    <h1>Trucking Logistics</h1>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1>Ten Headline</h1>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="sr-only"></span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="sr-only"></span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <!--White Block beneath Carousel  104:144-->
    <div class="container_2" fxFlex="100">
        <div class="card_box" fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 100%">
            <mat-card class="card">
                <mat-card-title>
                    <h1></h1>
                </mat-card-title>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <mat-card class="card2">
                <mat-card-title>
                    <h1></h1>
                </mat-card-title>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <mat-card class="card3">
                <mat-card-title>
                    <h1></h1>
                </mat-card-title>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <mat-card class="card4">
                <mat-card-title>
                    <h1></h1>
                </mat-card-title>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>
    </div>


    <div class="container_3" fxlayout="row" flex="grow shrink 100%">
        <div fxFlex="grow shrink 100%">
            <div fxFlex="10">

            </div>
            <div class="about_comp" fxFlex="20" fxLayoutAlign="center top">
                <h1><strong>ABOUT COMPANY</strong></h1>
            </div>
            <div fxFlex="8">

            </div>
            <div fxFlex="35">
                <img class="TRUCKER" src="assets/trucker.PNG">
            </div>
            <div class="about_paragraph" fxLayout="column" fxFlex="25" fxLayoutAlign="end center">
                <p>Some really importnat stuff will go right here that explaiens what the company does and the value it
                    provides.jhbedvj ihebjg ierhjh fjewhfjwjkw efkjwebn ejeriogr jgoierjoi poiwej gpowei jjwpgeiog
                    jwepoig df efg fdfd e gg edg g fdgbd fgb erh wrhg eg heg h egb edhb eh egrh grh egr </p>
                <div class="square">

                </div>
            </div>
        </div>
    </div>
    <div class="black">
        <div class="container_4" fxFlex="100" style="background-image:url(assets/log2.jpg)">

        </div>
    </div>

    <div class="container_5">

    </div>

<!---
    <div class="container_2" fxLayout="column">
        <div fxLayout="column" >
            <div class="container_1" fxFlex="1 1 100%" style="background-color: rgb(79, 164, 179); max-height: 50%;">

            </div>
            <div class="container_b1" fxFlex="1 1 100%" style="background-color: rgb(26, 25, 25); max-height: 10%;">

            </div>

        </div>
        <mat-card class="mat_card_float" fxFlex="1 1 100%" fxLayoutAlign="center center">

        </mat-card>
        <mat-card class="mat_card_float2" fxFlex="1 1 100%" fxLayoutAlign="center center">

        </mat-card>
        <mat-card class="mat_card_float3" fxFlex="1 1 100%" fxLayoutAlign="center center">

        </mat-card>
        <div class="circle_div">
            <img class="circle_frame" src="assets/ceo3.jpg">
        </div>
        <div class="workerman">
            <img class="workerman_img" src="assets/medium-shot-man-posing-with-crossed-arms.jpg">
        </div>
        <div class="horiz_rect_div">
            <mat-card class="mat_card_float4">

            </mat-card>
        </div>
    </div>

-->
    <div class="container_6" fxLayout="row wrap" fxFlex="100">
        <div fxFlex="1 1 100%" fxLayoutAlign="center center">

            <form id="form" class="topBefore">

                <input id="name" type="text" placeholder="Full Name">
                <input id="email" type="text" placeholder="E-mail">
                <textarea id="message" type="text" placeholder="Message"></textarea>
                <input id="submit" type="submit" value="SUBMIT">

            </form>
        </div>
    </div>

    <!--Carousel Section Code Liner 303:354--->
    <div class="container_2" fxlayout="row" fxFlex="100">
        <div fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center center"
            style="background-color: rgb(90, 92, 95); max-height: 50%;">
            <h4>Tena Transportation Inc.</h4>
            <h7>Casa Grande,Arizona 85122</h7>
        </div>
    </div>

</div>