/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

    font-family: sans-serif;
}
.container_two{
    border: solid 1px white;
    padding: 1px;
    height: 400px;
}
.container_head {
    border: solid 1px white;
    padding: 0px;
    height: 400px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
